.Card {
  max-width: 18em;
  padding: 1.5em;
}

.CompanyLogo {
  width: 100%;
  height: 70%;
}

.CardHeader {
  padding-left: 1em;
}

.CompanyName {
  font-family: "Lexend";
  color: #8b8b8b;
  font-size: 0.9rem;
}

.JobRole {
  font-weight: 500;
  font-size: 1.4rem;
}

.Salary {
  color: #8b8b8b;
}

.AboutCompany {
  position: relative;
}

.JobDescriptionContainer {
  max-height: 14em;
  overflow: hidden;
}

.AboutCompanyHeader {
  font-size: 1.3rem;
}

.JobDescription {
  mask-image: linear-gradient(
    linear-gradient(to bottom, rgba(0, 0, 0, 1) 20%, rgba(0, 0, 0, 0) 80%)
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 0) 46%
  );
}

.ShowMoreButton {
  position: absolute;
}

.EasyApplyButton {
  background-color: #54efc3 !important;
  height: 3em;
  width: 100%;
}

.EasyApplyText {
  color: black;
}
